<div   style="display:flex">
    <div class="accent-background" style="flex-grow:1; min-width: 100px;">
    </div>
        <div style="flex-grow:8 ; background-color:white; padding-left: 12px; width:80px;">
            <h4 style="font-weight: bold;">Sign up</h4>
            By continuing, you agree to our User Agreement and Privacy Policy
            <button  mat-button disalbed matTooltip="CURRENTLY DISABLED"  class="mt-12"style="display:block; padding: 0px; border:none; background: none;"  >
            <img style="height: 100%;width:100%;" src="assets\btn_google_signin_light_normal_web.png"/>
                
            </button>
            <mat-divider class="mt-12"></mat-divider>
            <h4 class="mt-12" style="font-weight: bold;">Create account</h4>
            
            <form [formGroup]="signUpFormGroup">
                <div>                <p>
                    <mat-form-field appearance="fill">
                        <mat-label>EMAIL</mat-label>
                        <input matInput type="email" placeholder="" [formControlName]="'email'">
                        <mat-error *ngIf="signUpFormGroup.get('email').errors && signUpFormGroup.get('email').errors.email && signUpFormGroup.get('email').touched" >INVALID EMAIL</mat-error>
                        <mat-error *ngIf="signUpFormGroup.get('email').errors && signUpFormGroup.get('email').errors.emailExistsError && signUpFormGroup.get('email').touched" >EMAIL IS IN USE</mat-error>    
                    </mat-form-field>
                </p>
            </div>
                <button style="height: 36px; width: 100px;" mat-flat-button color="primary" (click)="onContinue()" [disabled]="signUpFormGroup.get('email').invalid || signUpFormGroup.pending"><span *ngIf="!signUpFormGroup.pending ">CONTINUE</span>
                    <mat-spinner style="margin:auto;"  *ngIf="signUpFormGroup.pending" diameter="15" mode="indeterminate"></mat-spinner>
                </button>
            </form> 

        <div>
        Already a redditor?     
        <button mat-button color="primary">LOG IN</button>
        </div>
    </div>
</div>