@import "../../utility.css";

.float-right {
    margin-left: auto;
}

.reddit-icon {
    width: 32px;
    height: 32px;
    background-color: transparent;
}

.search-bar {
    width:100%; 
    padding-top: 16px;
}





